body {
    margin: 0;
    background-color: #59bc38;
}

.scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    height: 95vh;
    -webkit-overflow-scrolling: touch;
    margin: 0;
}

.card {
    flex: 0 0 auto;
    padding: 0px;
    width: 40%;
    min-width: 400px;
    text-align: center;
}

p {
    font-size: 1.3em;
    margin: 0;
    color: #eff9eb;
    text-align:left;
}

img {
    max-height: 100%;
    width: 50%;
}

h1 {
    font-size: 1.6em;
}

#oklahoma {
    font-size: 1.33em;
}

h2 {
    font-size: 1.5em;
    margin: 0.5em;
}

.sign {
    background-color: #009900;
    border-radius: 8px;
    padding: 1%;
    width: 70%;
    max-width: 300px;
    border: 5px solid white;
    font-family: 'Overpass', sans-serif;
    margin-left: 2%;
}

.schoolSign {
    width: 70%;
    max-width: 150px;
}

.exit {
    width: 40%;
    max-width: 180px;
}

.hospital {
    background-color: #3333cc;
    color: white;
    max-width: 200px;
}

.sky {
    background-color: #8ee4ff;
    height: 20%;
}

.roadGrey {
    background-color: #bfbfbf;
    height: 10%;
}

.roadLine {
    background: repeating-linear-gradient(90deg, yellow, yellow 50px, #bfbfbf 50px, #bfbfbf 90px);
    height: 3%;
}

.grass {
    background-color: #59bc38;
    height: 28%;
    padding: 3%;
}

#cloud {
    max-width: 200px;
}

#bottom_c1 {
    position: absolute;
    top: 6%;
    left: 8%;
    width: 30%;
    height: 7%;
    background-color: #fff;
    border-radius: 100px;
    z-index: 100;
}

#left_c1 {
    position: absolute;
    top: 2.5%;
    left: 12%;
    width: 11%;
    height: 6%;
    border-radius: 100%;
    background-color: #fff;
}

#right_c1 {
    position: absolute;
    top: 1%;
    left: 20%;
    width: 15%;
    height: 11%;
    border-radius: 100%;
    background-color: #fff;
}

#bottom_c2 {
    position: absolute;
    top: 7%;
    left: 60%;
    width: 30%;
    height: 7%;
    background-color: #fff;
    border-radius: 100px;
    z-index: 100;
}

#left_c2 {
    position: absolute;
    top: 2%;
    left: 64%;
    width: 14%;
    height: 10%;
    border-radius: 100%;
    background-color: #fff;
}

#right_c2 {
    position: absolute;
    top: 3%;
    left: 72%;
    width: 15%;
    height: 11%;
    border-radius: 100%;
    background-color: #fff;
}